[submodule "autoperf/repo"]
	path = autoperf/repo
	url = https://github.com/igrigorik/autoperf
[submodule "funkload/repo"]
	path = funkload/repo
	url = https://github.com/nuxeo/FunkLoad
[submodule "parbench/repo"]
	path = parbench/repo
	url = https://github.com/andrewvc/parbench
[submodule "ycsb/repo"]
	path = ycsb/repo
	url = https://github.com/brianfrankcooper/YCSB
[submodule "beeswithmachineguns/repo"]
	path = beeswithmachineguns/repo
	url = https://github.com/newsapps/beeswithmachineguns
[submodule "engulf/repo"]
	path = engulf/repo
	url = https://github.com/andrewvc/engulf
[submodule "iago/repo"]
	path = iago/repo
	url = https://github.com/twitter/iago
